A:link {
	COLOR: #003366; TEXT-DECORATION: none
}
A:visited {
	COLOR: #003366; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 9pt; SCROLLBAR-ARROW-COLOR: #698cc3; SCROLLBAR-BASE-COLOR: #f8f8f8; BACKGROUND-COLOR: #9eb6d8
}
TABLE {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana
}
TEXTAREA {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana; BACKGROUND-COLOR: #f8f8f8
}
INPUT {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana; BACKGROUND-COLOR: #f8f8f8
}
OBJECT {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana; BACKGROUND-COLOR: #f8f8f8
}
SELECT {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana; BACKGROUND-COLOR: #f8f8f8
}
/*普通粗体*/
.nav {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, Verdana
}
/*标题头，白色字体，粉蓝色背景，字体大小9pt*/
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana; BACKGROUND-COLOR: #698cc3
}
/*分类，黑色，很浅的粉蓝色背景，字体大小9pt*/
.category {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana; BACKGROUND-COLOR: #efefef
}
/*蓝色字体*/
.multi {
	FONT-SIZE: 9pt; COLOR: #003366; FONT-FAMILY: Tahoma, Verdana
}
/*小号字体，8pt大小*/
.smalltxt {
	FONT-SIZE: 8pt; FONT-FAMILY: Tahoma, Verdana
}
/*黑色普通大小字体，9pt大小*/
.mediumtxt {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana
}
/*粗体字体*/
.bold {
	FONT-WEIGHT: bold
}
/*用来控制表单说明字段表格的样式控制*/
.formnametd {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana; BACKGROUND-COLOR: #efefef
}
/*用来控制整个表格标题的样式控制，如：我的审核文件里列表*/
.tabletitle {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, Verdana; color: #003366
	/*Modify by LUSS
    FONT-SIZE: 12pt;face:"楷体_GB2312"; COLOR: #330099; FONT-FAMILY: Tahoma, Verdana; 
	End Modify*/
}
/*如果有需要特别的格式，可以暂时使用保留格式，但需要尽快通知大家，并且在CSS样式表中做出改变*/
/*保留格式1*/
.mystyle1 {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana
}
/*保留格式2*/
.mystyle2 {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana
}
/*保留格式3*/
.mystyle3 {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana
}
/*保留格式4*/
.mystyle4 {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana
}
/*保留格式5*/
.mystyle5 {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana
}
/*保留格式6*/
.mystyle6 {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana
}
/*保留格式7*/
.mystyle7 {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana
}