<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.imc_cg.meeting.servlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>MeetingRoomServlet</servlet-name>
		<servlet-class>com.imc_cg.meeting.servlet.MeetingRoomServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>MeetingServlet</servlet-name>
		<servlet-class>com.imc_cg.meeting.servlet.MeetingServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>RegularMeetingTemplateServlet</servlet-name>
		<servlet-class>com.imc_cg.meeting.servlet.RegularMeetingTemplateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MeetingRoomServlet</servlet-name>
		<url-pattern>/MeetingRoomServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MeetingServlet</servlet-name>
		<url-pattern>/MeetingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegularMeetingTemplateServlet</servlet-name>
		<url-pattern>/RegularMeetingTemplateServlet</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.imc_cg.meeting.bean.business.MeetingListener</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.imc_cg.meeting.bean.util.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>